* {
    bg:     #{{colors.background.default.hex_stripped}};
    fg:     #{{colors.on_background.default.hex_stripped}};
    accent: #{{colors.primary.default.hex_stripped}};
    surface: #{{colors.surface.default.hex_stripped}};
}
